<div class="mat-spinner-container" *ngIf="!loaded">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="loaded">
  <p>playlist works!</p>

 <div *ngFor="let music of musics">
   <div class="music-card" (click)="check($event)" style="min-width: 200px">
     <div class="row">
       <div class="image-container">
         <img src="{{music.musicImageUrl}}">
       </div>
       <div class="content-container" style="max-width: 200px; overflow: hidden; text-overflow: ellipsis">
         <div class="header">{{music.userId}}</div>
         <div class="description">{{music.musicName}}</div>
       </div>
       <div class="edit_menu" style="display: flex; align-items: center; padding: 8px; position: absolute; right: 30px" (click)="clickM()">
         <mat-icon style="cursor: default" class="edit_menu waves-effect waves-purple" mat-flat-button>more_vert</mat-icon>
       </div>
     </div>
   </div>

 </div>


  <button (click)="callAdd()">add music</button>
</div>

