<div class="page-container" *ngIf="!isUserAuthenticated || (userInfoLoaded && notificationsLoaded)">
  <header class="d-flex align-items-center">
    <div style="display: flex; align-items: center">
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{isMenuOpen? 'menu_open' : 'menu'}}</mat-icon>
      </button>
      <a class="tst" routerLink="/">
        <span class="app-title">Меню</span>
      </a>
    </div>
    <div *ngIf="isUserAuthenticated" class="d-flex">
      <div *ngIf="notifications.length == 0" class="notification d-flex align-items-center mr-3">
        <mat-icon>notifications</mat-icon>
      </div>
      <div *ngIf="notifications.length > 0" class="notification d-flex align-items-center mr-3" [matMenuTriggerFor]="ntf">
        <mat-icon class="mr-1">notifications_active</mat-icon>
        <div class="notification-counter d-flex justify-content-center">
          <span *ngIf="notifications.length <= 100">{{notifications.length}}</span>
          <span *ngIf="notifications.length > 100">100+</span>
        </div>
      </div>
      <mat-card class="profile" [matMenuTriggerFor]="menu">
        <span style="margin-right: 10px">{{userInfo.login}}</span>
        <img mat-card-avatar src="{{userInfo.avatar}}">
        <mat-icon>arrow_drop_down</mat-icon>
      </mat-card>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="profile()">
          <mat-icon>settings</mat-icon>
          <span>Настройки профиля</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Выйти</span>
        </button>
      </mat-menu>
      <mat-menu #ntf="matMenu">
        <div class="d-flex align-items-center" mat-menu-item *ngFor="let notification of notifications" style="word-wrap: break-word;
    white-space: normal; line-height: 25px; height: 100%; border-bottom: #fa053e 1px solid">
          <div class="mr-3 p-1" (click)="checkNotification($event, notification)">
            <mat-icon class="mr-0" style="color: #fa053e">
              delete
            </mat-icon>
          </div>
          <div (click)="notificationClick(notification)">
            {{notification.message}}
          </div>
        </div>
      </mat-menu>
    </div>
    <div *ngIf="!isUserAuthenticated">
      <p (click)="login()" class="login_link">Войти</p>
    </div>
  </header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav fixedInViewport #sidenav autoFocus="autofocus" mode="over" [autoFocus]="false" [(opened)]="isMenuOpen" class="sidenav" (click)="onSidenavClick()">
      <mat-toolbar class="toolbr">Menu</mat-toolbar>
      <div routerLinkActive="active" [ngClass]="{pdIsAuth : isUserAuthenticated}">
        <a mat-menu-item routerLink="/main" class="d-flex align-items-center">
          <mat-icon style="margin-right: 16px">home</mat-icon>
          <span>Главная</span>
        </a>
      </div>
      <div *ngIf="isUserAuthenticated" routerLinkActive="active">
        <a mat-menu-item routerLink="/mymusic" class="d-flex align-items-center">
          <mat-icon style="margin-right: 16px">audiotrack</mat-icon>
          <span>Музыка</span>
        </a>
      </div>
      <div *ngIf="isUserAuthenticated" routerLinkActive="active">
        <a mat-menu-item routerLink="/playlist" class="d-flex align-items-center">
          <mat-icon style="margin-right: 16px">queue_music</mat-icon>
          <span>Плейлисты</span>
        </a>
      </div>
      <div routerLinkActive="active">
        <a mat-menu-item routerLink="/search" class="d-flex align-items-center">
          <mat-icon style="margin-right: 16px">search</mat-icon>
          <span>Поиск</span>
        </a>
      </div>
      <div *ngIf="isUserAuthenticated" routerLinkActive="active">
        <a mat-menu-item [routerLink]="['/profile', userId]" class="d-flex align-items-center">
          <mat-icon style="margin-right: 16px">person</mat-icon>
          <span>Профиль</span>
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <main [ngClass]="{
      'main-with-player': audioService.isVisible === true,
      'main-without-player': audioService.isVisible === false
      }">
        <router-outlet style="overflow-y: hidden;"></router-outlet>
      </main>
      <app-audioplayer style="position: fixed; bottom: 0; width: 100vw; z-index: 10"></app-audioplayer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
