.page-container{
  background: #fafafa;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.page-container a{
  color: inherit;
  text-decoration: none;
}

.page-container header{
  background: #9414d9;
  color: white;
  padding: 18px 24px;

  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.page-container header .menu-button, .menu-button:focus, .menu-button:hover{
  margin-right: 24px;
  min-width: 0;
  padding: 0;
  line-height: normal;
  cursor: default;
  background-color: #9414d9;
}

.page-container header .app-title{
  padding: 0 3px;
}

.sidenav-container {
  flex: 1;
}

.sidenav-container .sidenav{
  min-width: 240px;
}

.sidenav-container .sidenav a{
  display: block;
  padding: 6px 24px;
  width: 100%;
  text-align: left;
}

.sidenav-container main{
  padding: 18px 24px;
}

.container-app {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ededed;
}

.active a{
  background-color: rgba(148, 20, 217, .8);
  color: white;
}


