<div class="mat-progress-container" *ngIf="loaderService.isLoading | async">
  <mat-progress-bar color="warn" mode="query"></mat-progress-bar>
</div>
<div class="row mt-5 mr-3 ml-3" style="min-width:300px">
  <div class="col-sm-3 col-md-4"></div>
  <form class="card col-sm-6 col-md-4" [formGroup]="form" (ngSubmit)="sendMail()">
    <div class="card-content" style="padding-bottom: 0">
      <span class="card-title center-align">Забыли пароль?</span>
      <div class="input-field">
        <input id="email" required type="email" formControlName="email" [ngClass]="{invalid: form?.get('email')?.invalid && form?.get('email')?.dirty}">
        <label for="email">Email:</label>
        <span class="helper-text red-text" *ngIf="form?.get('email')?.invalid && form?.get('email')?.dirty">
          <span *ngIf="form?.get('email')?.errors?.required">Заполните поле</span>
          <span *ngIf="form?.get('email')?.errors?.email">Некорректный Email</span>
        </span>
      </div>
    </div>
    <div class="center-align" style="padding-bottom: 24px">
      <button type="submit" class="btn white-text waves-effect waves-light" [disabled]="form.invalid">Подтвердить</button>
    </div>
  </form>
</div>
