<div style="width: 100%;" *ngIf="loaderService.isLoading | async">
  <mat-progress-bar color="warn" mode="query"></mat-progress-bar>
</div>

<div>
  <h4 mat-dialog-title class="center-align">Изменение пароля</h4>
  <mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="changePassword()">
      <div class="input-field">
        <input id="oldPassword" required type="password" formControlName="oldPassword" [ngClass]="{invalid: form?.get('oldPassword')?.invalid && form?.get('oldPassword')?.dirty}">
        <label for="oldPassword">Старый пароль:</label>
        <span class="helper-text red-text" *ngIf="form?.get('oldPassword')?.invalid && form?.get('oldPassword')?.dirty">
          <span *ngIf="form?.get('oldPassword')?.errors?.required">Заполните поле</span>
        </span>
      </div>
      <div formGroupName="passwords">
        <div class="input-field">
          <input id="newPassword" required type="password" formControlName="newPassword" [ngClass]="{invalid: form?.get('passwords.newPassword')?.invalid && form?.get('passwords.newPassword')?.dirty}">
          <label for="newPassword">Новый пароль:</label>
          <span class="helper-text red-text" *ngIf="form?.get('passwords.newPassword')?.invalid && form?.get('passwords.newPassword')?.dirty">
            <span *ngIf="form?.get('passwords.newPassword')?.errors?.required">Заполните поле</span>
            <span *ngIf="form?.get('passwords.newPassword')?.errors?.minlength && form?.get('passwords.newPassword')?.errors?.minlength?.requiredLength">Минимум {{form?.get('passwords.newPassword')?.errors?.minlength?.requiredLength}} символов</span>
            <span *ngIf="form?.get('passwords.newPassword')?.errors?.maxlength && form?.get('passwords.newPassword')?.errors?.maxlength?.requiredLength">Максимум {{form?.get('passwords.newPassword')?.errors?.maxlength?.requiredLength}} символов</span>
          </span>
        </div>
        <div class="input-field">
          <input id="confirmPassword" required type="password" formControlName="confirmPassword" [ngClass]="{invalid: form?.get('passwords.confirmPassword')?.invalid && form?.get('passwords.confirmPassword')?.dirty}">
          <label for="confirmPassword">Подтверждение пароля:</label>
          <span class="helper-text red-text" *ngIf="form?.get('passwords.confirmPassword')?.invalid && form?.get('passwords.confirmPassword')?.dirty">
            <span *ngIf="form?.get('passwords.confirmPassword')?.errors?.required">Заполните поле</span>
            <span *ngIf="form?.get('passwords.confirmPassword')?.errors?.minlength && form?.get('passwords.confirmPassword')?.errors?.minlength?.requiredLength">Минимум {{form?.get('passwords.confirmPassword')?.errors?.minlength?.requiredLength}} символов</span>
            <span *ngIf="form?.get('passwords.confirmPassword')?.errors?.maxlength && form?.get('passwords.confirmPassword')?.errors?.maxlength?.requiredLength">Максимум {{form?.get('passwords.confirmPassword')?.errors?.maxlength?.requiredLength}} символов</span><br/>
          </span>
        </div>
      </div>
      <span class="helper-text red-text" *ngIf="form?.invalid && form?.get('passwords.confirmPassword')?.dirty">
        <span *ngIf="form?.errors?.custom">{{form?.errors?.custom}}</span>
      </span>
      <div class="center-align">
        <button class="btn waves-effect waves-light" [disabled]='form?.invalid || postingQuery' style="background-color: #11d62b; margin-right: 20px;">Изменить</button>
        <button mat-dialog-close="false" class="btn waves-effect waves-light" [disabled]="postingQuery" style="background-color: #fa053e;">Отмена</button>
      </div>
    </form>
  </mat-dialog-content>
</div>
