.player {
  background-color: #9414d9;
  min-width: 300px;
  width: 100%;
}

.time{
  margin:5px;
  color: white;
}

.audio-name {
  margin-left: 10px;
  padding-top: 5px;
  color: white;
}

.bt {
  margin: 5px;
  color: white;
}

.bt:hover{
  cursor:pointer;
}

.input-range-music {
  width: 100%;
  margin: 5px;
}

.input-range-sound {
  width: 30%;
  margin: 5px;
}

input[type="range"] {
  width:100%;
}
