<div class="mat-progress-container" *ngIf="loaderService.isLoading | async">
  <mat-progress-bar color="warn" mode="query"></mat-progress-bar>
</div>
<div class="row mt-5 mr-3 ml-3" style="min-width:300px">
  <div class="col-sm-3 col-md-4"></div>
  <form class="card col-sm-6 col-md-4" [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
    <div class="card-content" style="padding-bottom: 0">
      <span class="card-title center-align">Изменение пароля</span>
      <div class="input-field">
        <input id="password" required type="password" formControlName="password" [ngClass]="{invalid: formChangePassword?.get('password')?.invalid && formChangePassword?.get('password')?.dirty}">
        <label for="password">Новый пароль:</label>
        <span class="helper-text red-text" *ngIf="formChangePassword?.get('password')?.invalid && formChangePassword?.get('password')?.dirty">
            <span *ngIf="formChangePassword?.get('password')?.errors?.required">Заполните поле</span>
            <span *ngIf="formChangePassword?.get('password')?.errors?.minlength && formChangePassword?.get('password')?.errors?.minlength?.requiredLength">Минимум {{formChangePassword?.get('password')?.errors?.minlength?.requiredLength}} символов</span>
            <span *ngIf="formChangePassword?.get('password')?.errors?.maxlength && formChangePassword?.get('password')?.errors?.maxlength?.requiredLength">Максимум {{formChangePassword?.get('password')?.errors?.maxlength?.requiredLength}} символов</span>
          </span>
      </div>
      <div class="input-field">
        <input id="confirmpassword" required type="password" formControlName="confirmPassword" [ngClass]="{invalid: formChangePassword?.get('confirmPassword')?.invalid && formChangePassword?.get('confirmPassword')?.dirty}">
        <label for="confirmpassword">Подтверждение пароля:</label>
        <span class="helper-text red-text" *ngIf="formChangePassword?.get('confirmPassword')?.invalid && formChangePassword?.get('confirmPassword')?.dirty">
          <span *ngIf="formChangePassword?.get('confirmPassword')?.errors?.required">Заполните поле</span>
          <span *ngIf="formChangePassword?.get('confirmPassword')?.errors?.minlength && formChangePassword?.get('confirmPassword')?.errors?.minlength?.requiredLength">Минимум {{formChangePassword?.get('confirmPassword')?.errors?.minlength?.requiredLength}} символов</span>
          <span *ngIf="formChangePassword?.get('confirmPassword')?.errors?.maxlength && formChangePassword?.get('confirmPassword')?.errors?.maxlength?.requiredLength">Максимум {{formChangePassword?.get('confirmPassword')?.errors?.maxlength?.requiredLength}} символов</span><br/>
        </span>
      </div>
      <span class="helper-text red-text" *ngIf="formChangePassword?.invalid && formChangePassword?.get('confirmPassword')?.dirty">
        <span *ngIf="formChangePassword?.errors?.custom">{{formChangePassword?.errors?.custom}}</span>
      </span>
      <div class="center-align" style="padding-bottom: 24px">
        <button type="submit" class="btn white-text waves-effect waves-light" [disabled]="formChangePassword.invalid">Изменить</button>
      </div>
    </div>
  </form>
</div>

