<div *ngIf="data !== null">
  <mat-card class="mb-2" style="word-wrap: break-word;">
    <mat-card-header class="d-flex">
      <img mat-card-avatar src="{{data.userAvatar}}">
      <mat-card-title>
        <div>{{data.userLogin}}</div>
      </mat-card-title>
      <mat-card-subtitle>
        <div>
         {{data.comment}}
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="d-flex">
      <div class="d-flex">
        <div>{{getDateTimeString(data.commentDate)}}</div>
        <div>
          <button>Ответить</button>
        </div>
        <button (click)="showChildren()">ShowChild</button>
      </div>
      <div class="ml-auto">
        <button>Удалить</button>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngFor="let child of children" [hidden]="hiddenChild" style="margin-left: 25px">
    <mat-card class="mb-2" style="word-wrap: break-word;">
      <mat-card-header class="d-flex">
        <img mat-card-avatar src="{{child.userAvatar}}">
        <mat-card-title>
          <div>{{child.userLogin}}</div>
        </mat-card-title>
        <mat-card-subtitle>
          <div>
            {{child.comment}}
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="d-flex">
        <div class="d-flex">
          <div>{{getDateTimeString(child.commentDate)}}</div>
          <div>
            <button>Ответить</button>
          </div>
        </div>
        <div class="ml-auto">
          <button>Удалить</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
