<div>
  <mat-card style="word-wrap: break-word;">
    <mat-card-header class="d-flex">
      <img mat-card-avatar src="https://miro.medium.com/max/1838/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg">
      <mat-card-title>
        <div>Hi</div>
      </mat-card-title>
      <mat-card-subtitle>
        <div>
         Sound is cool!!)
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="d-flex">
      <div class="d-flex">
        <div>Дата</div>
        <div>
          <button>Ответить</button>
        </div>
        <button>ShowChild</button>
      </div>
      <div class="ml-auto">
        <button>Удалить</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
