<img src="{{playlistCard.playlistImageUrl}}" hidden alt="" (load)="imageLoaded()">
<div *ngIf="loaded" style="cursor: pointer">
  <div class="playlist-card d-flex align-items-end" [ngStyle]="{'background-image':'url('+playlistCard.playlistImageUrl+')'}">
    <div class="playlist-card-title">
      {{playlistCard.playlistName}}
    </div>
  </div>
  <div *ngIf="enableUserLogin && playlistCard.userLogin !== null" class="playlist-card-user">
    <p (click)="navigateProfile()">{{playlistCard.userLogin}}</p>
  </div>
</div>
<div *ngIf="!loaded" class="d-flex justify-content-center align-items-center" style="height: 190px; width: 190px;">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
