<div class="mat-spinner-container" *ngIf="!loadedPage">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="loadedPage">
  <div class="mb-3">
    <button (click)="addPlaylist()" mat-mini-fab class="add-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="row">
    <div style="margin-bottom: 15px" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let p of playlistsInfo">
      <app-playlist-card [playlistCard]="p">
      </app-playlist-card>
    </div>
  </div>
</div>
