<div class="mat-spinner-container" *ngIf="!loadedPage">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="mb-3 d-flex align-items-center" style="cursor: default">
  <div class="mr-2">
    <button mat-flat-button class="add-button" (click)="addPlaylist()">Добавить плейлист</button>
  </div>
  <div class="ml-2" style="width: 100%;">
    <app-filterbar placeholder="Введите название плейлиста" (searchEvent)="search($event)"></app-filterbar>
  </div>
</div>

<div *ngIf="loadedPage">
  <div *ngIf="filteredPlaylists.length == 0" style="display: flex; align-items: center;
  justify-content: center; height: 65vh; cursor: default">
    Список пуст
  </div>
  <div class="row">
    <div *ngFor="let p of filteredPlaylists" style="margin-bottom: 20px" class="playlist-item d-flex justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <app-playlist-card [playlistCard]="p" [enableUserLogin]="false" (click)="getPlaylistEditor(p.playlistId)">
      </app-playlist-card>
    </div>
  </div>
</div>
