.user-card{
  height: 190px;
  width: 190px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all .3s;
  border: 1px solid #9414d9;
  border-radius: 15px;
  border-bottom: none;
}

.user-card-title{
  word-wrap: break-word;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  color: white;
  padding: 5px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.user-card:hover{
  box-shadow: 0 0 15px rgb(148, 20, 217);
}
