<div class="mat-spinner-container" *ngIf="!loadedComments || !loadedMusicInfo">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="loadedComments && loadedMusicInfo">
  <div class="row" style="display: flex;">
    <div class="d-flex flex-column">
      <div class="pl-3 pt-3 row">
        <div>
          <button mat-mini-fab class="play-button" (click)="play()">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
        <div class="pl-2">
          <div>{{musicInfo.userLogin}}</div>
          <div>{{musicInfo.name}}</div>
        </div>
      </div>
      <div class="mt-auto pl-3">
        <div class="d-flex" style="align-items: center">
          <div>Оценка пользователей: {{musicInfo.rating}}</div>
          <star-rating [value]="1" [readonly]="true" [totalstars]="1" checkedcolor="red" size="18px"></star-rating>
        </div>
        <div>
          <div>Оценили: {{musicInfo.countRatings}}</div>
        </div>
        <div class="d-flex" style="align-items: center">
          <div>Ваша оценка:</div>
          <star-rating #ratingComponent class="pl-1" [value]=musicInfo.currentUserRating [totalstars]="5" [readonly]="isRateReadOnly" checkedcolor="red" uncheckedcolor="black" size="18px"
                       (rate)="onRate($event)"></star-rating>
        </div>
      </div>
    </div>
    <div class="ml-auto pr-3 pt-3">
      <div>
        {{musicInfo.dateOfPublication.toLocaleDateString()}}
      </div>
      <div class="d-flex" (click)="clickGenre(musicInfo.genreId)">
        <button mat-flat-button class="ml-auto play-button">#{{musicInfo.genreName}}</button>
      </div>
    </div>
    <div class="pr-2">
      <img src="{{musicInfo.imageUrl}}" class="img-title">
    </div>
  </div>
  <div class="row">
    <div style="margin-left: 15px" (click)="openCommentArea()">
      <a mat-menu-item>
        <mat-icon style="margin-right: 0">add_comment</mat-icon>
      </a>
    </div>
    <div (click)="showComments()">
      <a mat-menu-item>
        <mat-icon>mode_comment</mat-icon>
        <span>{{firstComments.length}}</span>
      </a>
    </div>
  </div>
  <div *ngIf="isCommentAreaOpen">
    <textarea [(ngModel)]="commentText" style="width: 100%"></textarea>
    <br>
    <button (click)="comment()">Оставить комментарий</button>
  </div>
  <div [hidden]="hiddenComments" *ngFor="let firstComment of firstComments">
    <app-comment-card [data]="firstComment" [musicId]="this.musicId" [children]="getChildrenComments(firstComment.idComment)"></app-comment-card>
  </div>
</div>
