.play-button{
  color: white;
  background-color: #9414d9;
}

.delete-button{
  color: white;
  background-color: #fa053e;
}

.img-title{
  max-width: 400px;
  max-height: 300px;
  min-height: 300px;
}

a.mat-menu-item{
  color: #9414d9;
}

a.mat-menu-item mat-icon{
  margin-right: 8px;
  color: #9414d9;
}

div.mat-form-field-wrapper{
  padding: 0;
}
