<div class="mat-spinner-container" *ngIf="!loadedPage">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="loadedPage">
  <div class="row" style="display: flex;">

    <div class="d-flex flex-column">
      <div class="pl-3 pt-3 row">
        <div>
          <button mat-mini-fab class="play-button" (click)="play()">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
        <div class="pl-2">
          <div>{{musicInfo.userLogin}}</div>
          <div>{{musicInfo.name}}</div>
        </div>
      </div>
      <div class="mt-auto pl-3 d-flex" style="align-items: center">
        <div>Рейтинг:</div>
        <star-rating class="pl-1" [value]="musicInfo.rating" [totalstars]="5" disabled checkedcolor="red" uncheckedcolor="black" [readonly]="false" size="24px"
                     (rate)="onRate($event)"></star-rating>
        <div>{{musicInfo.rating}}</div>
      </div>
    </div>


    <div class="ml-auto pr-3 pt-3">
      <div>
        {{musicInfo.dateOfPublication.toLocaleDateString()}}
      </div>
      <div class="d-flex">
        <button mat-flat-button class="ml-auto play-button">#{{musicInfo.genreName}}</button>
      </div>
    </div>

    <div>
      <img src="{{musicInfo.imageUrl}}" class="img-title">
    </div>
<!--    <div class="ml-2">-->
<!--      <div>Название: {{musicInfo.name}}</div>-->
<!--      <div>Автор: {{musicInfo.userLogin}}</div>-->
<!--      <div>Жанр: {{musicInfo.genreName}}</div>-->
<!--      <div>Рейтинг: {{musicInfo.rating}}</div>-->
<!--    </div>-->
  </div>
</div>
