<div class="d-flex music-card" (click)="check($event)">
  <div class="pl-2 pb-2 pt-2">
    <img src="{{data.musicImageUrl}}">
  </div>
  <div class="pb-2 pt-2">
    <div class="content-container">
      <div class="header">{{data.userId}}</div>
      <div class="description">{{data.musicName}}</div>
    </div>
  </div>
  <button mat-button class="ml-auto p-2 edit_menu" [matMenuTriggerFor]="menu">
    <mat-icon class="edit_menu">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button class="edit_item_menu" mat-menu-item (click)="edit(data.musicId)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button class="delete_item_menu" mat-menu-item (click)="delete(data.musicId)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</div>
