<div class="crd">
  <mat-card class="mat-elevation-z4">
    <img mat-card-image src="{{imageMapper.get(complaint.complaintType)}}" alt="Загрузка...">
    <mat-card-content class="d-flex flex-column">
      <div>
        <mat-label style="font-size: 12px; color: #8f8c8c">Тип жалобы</mat-label>
        <p>{{typeMapper.get(complaint.complaintType)}}</p>
      </div>
      <div *ngIf="complaint.message">
        <mat-form-field style="width: 100%;">
          <mat-label style="font-size: 16px">Комментарий</mat-label>
          <textarea matInput
                    value="{{complaint.message}}"
                    [readonly]="true"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" style="cursor: default"></textarea>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center">
        <button mat-flat-button class="check-btn" (click)="clickCheck()">{{buttonName}}</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
