a.mat-menu-item{
  color: #9414d9;
}

a.mat-menu-item mat-icon{
  margin-right: 8px;
  color: #9414d9;
}

.mat-card{
  padding-bottom: 0;
  overflow-wrap: break-word;
}

.comment-button{
  color: white;
  background-color: #9414d9;
  cursor: default
}

.mg_l_IsNotAuth{
  margin-left: 16px;
}

.userL{
  cursor: pointer;
  transition: all .3s;
}

.userL:hover{
  color: #9414d9;
}

.imgL{
  cursor: pointer;
  transition: all .3s;
}

.imgL:hover{
  box-shadow: 0 0 15px rgb(148, 20, 217);
}

