<div *ngIf="data !== null">
  <mat-card class="mb-2">
    <mat-card-header class="pb-3">
      <img mat-card-avatar src="{{data.userAvatar}}">
      <mat-card-title>
        <div>{{data.userLogin}}</div>
      </mat-card-title>
    </mat-card-header>
    <div style="font-size: 13px">{{data.comment}}</div>
    <mat-card-content class="d-flex">
      <div class="d-flex">
        <div class="d-flex" style="align-items: center">{{getDateTimeString(data.commentDate)}}</div>
        <div (click)="showAnswerBox()">
          <a mat-menu-item>
            <mat-icon style="margin-right: 0">add_comment</mat-icon>
          </a>
        </div>
        <div *ngIf="currentUser == data.userId" (click)="showEditBox()">
          <a mat-menu-item>
            <mat-icon style="margin-right: 0">edit</mat-icon>
          </a>
        </div>
      </div>
      <div class="ml-auto" *ngIf="enableDeleteComment()" (click)="deleteComment()">
        <a mat-menu-item>
          <mat-icon style="margin-right: 0">delete</mat-icon>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="isCommentAreaOpen">
    <mat-form-field style="width: 100%;">
      <mat-label>Комментарий</mat-label>
      <textarea matInput
                [(ngModel)]="commentText"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <br>
    <button mat-flat-button (click)="comment()" class="comment-button">Ответить</button>
  </div>
  <div *ngIf="isCommentEditAreaOpen">
    <mat-form-field style="width: 100%;">
      <mat-label>Комментарий</mat-label>
      <textarea matInput
                [(ngModel)]="commentEditText"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <br>
    <button mat-flat-button (click)="commentEdit()" class="comment-button">Изменить</button>
  </div>
</div>
