.add-button{
  color: white;
  background-color: #9414d9;
}

.search-results {
  height: 75vh;
  overflow: scroll;
  overflow-x: hidden;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.search-results {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
