<div class="mat-spinner-container" *ngIf="!pageLoaded || followerProccessing">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="pageLoaded">
  <mat-card style="word-wrap: break-word">
    <mat-card-header style="align-items: center">
      <mat-card-title>
        <img style="width: 200px; height: 200px" mat-card-avatar src="{{userInfo.avatar}}" [hidden]="imgHidden" (load)="imgLoaded()">
        <div *ngIf="imgHidden" style="width: 200px; height: 200px" class="d-flex justify-content-center align-items-center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </mat-card-title>
      <mat-card-subtitle *ngIf="authService.isAuth() && !isAnotherUser" class="d-flex" style="justify-content: center" (click)="editProfile()">
        <button mat-flat-button class="mat-btn mt-2">Редактировать профиль</button>
      </mat-card-subtitle>
        <mat-card-subtitle *ngIf="authService.isAuth() && isAnotherUser && !isFollowerExists" class="d-flex" style="justify-content: center" (click)="addFollower()">
          <button mat-flat-button [disabled]="followerProccessing" class="mat-btn mt-2" >Оформить подписку</button>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="authService.isAuth() && isAnotherUser && isFollowerExists" class="d-flex" style="justify-content: center" (click)="deleteFollower()">
          <button mat-flat-button [disabled]="followerProccessing" class="mat-btn mt-2">Отписаться</button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="general-information">
        <div class="title">
          ОБЩАЯ ИНФОРМАЦИЯ
        </div>
        <div class="content row">
          <div class="item col-6 col-lg-4">
            <mat-form-field>
              <mat-label>Логин</mat-label>
              <input matInput [readonly]="true" type="text" value="{{userInfo.login}}">
            </mat-form-field>
          </div>
          <div class="item col-6 col-lg-4">
            <mat-form-field>
              <mat-label>Дата регистрации</mat-label>
              <input matInput [readonly]="true" type="text" value="{{userInfo.registrationDate.toLocaleDateString()}}">
            </mat-form-field>
          </div>
          <div class="item col-6 col-lg-4" *ngIf="userInfo.name">
            <mat-form-field>
              <mat-label>Имя</mat-label>
              <input matInput [readonly]="true" type="text" value="{{userInfo.name}}">
            </mat-form-field>
          </div>
          <div class="item col-6 col-lg-4" *ngIf="userInfo.surname">
            <mat-form-field>
              <mat-label>Фамилия</mat-label>
              <input matInput [readonly]="true" type="text" value="{{userInfo.surname}}">
            </mat-form-field>
          </div>
          <div class="item col-6 col-lg-4" *ngIf="userInfo.country">
            <mat-form-field>
              <mat-label>Страна</mat-label>
              <input matInput [readonly]="true" type="text" value="{{userInfo.country}}">
            </mat-form-field>
          </div>
          <div class="item col-6 col-lg-4" *ngIf="userInfo.city">
            <mat-form-field>
              <mat-label>Город</mat-label>
              <input matInput [readonly]="true" type="text" value="{{userInfo.city}}">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="statistics">
        <div class="title">
          СТАТИСТИКА
        </div>
        <div class="content">
          <div class="d-flex item" style="align-items: center">
            <mat-icon>music_note</mat-icon>
            <span style="margin: 0 10px">Количество песен:</span>
            <span>{{userInfo.countMusics}}</span>
          </div>
          <div class="d-flex item" style="align-items: center">
            <mat-icon>chat</mat-icon>
            <span style="margin: 0 10px">Количество комментариев:</span>
            <span>{{userInfo.countComments}}</span>
          </div>
          <div class="d-flex item" style="align-items: center">
            <mat-icon>star</mat-icon>
            <span style="margin: 0 10px">Суммарный музыкальный рейтинг:</span>
            <span>{{userInfo.summaryMusicRating}}</span>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>

