<mat-card style="word-wrap: break-word">
  <mat-card-header style="align-items: center">
    <div>
      <mat-card-title>
        <img style="width: 200px; height: 200px" mat-card-avatar src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg">
      </mat-card-title>
      <mat-card-subtitle class="d-flex" style="justify-content: center">
        <button mat-flat-button class="mat-btn mt-2">Редактировать профиль</button>
      </mat-card-subtitle>
    </div>
    <div class="ml-5" style="margin-bottom: 70px">
      <div class="mb-2">
        <span class="title-key">Surname:</span>
        <span class="title-value">Value</span>
      </div>
      <div class="mb-2">
        <span class="title-key">Surname:</span>
        <span class="title-value">Value</span>
      </div>
      <div class="mb-2">
        <span class="title-key">Surname:</span>
        <span class="title-value">Value</span>
      </div>
      <div class="mb-2">
        <span class="title-key">Surname:</span>
        <span class="title-value">Value</span>
      </div>
      <div class="mb-2">
        <span class="title-key">Surname:</span>
        <span class="title-value">Value</span>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="mb-2" style="font-size: 18px">СТАТИСТИКА</div>
    <div class="mb-1" style="font-size: 16px">Количевто песен</div>
    <div class="mb-1" style="font-size: 16px">Количевто комментариев</div>
    <div class="mb-1" style="font-size: 16px">Суммарный рейтинг песен</div>
  </mat-card-content>
</mat-card>
