.mat-card-content{
  padding-right: 15px;
}

.title-key{
  font-weight: normal;
  font-size: 18px;
}

.title-value{
  font-weight: normal;
  font-size: 16px;
}

.mat-btn{
  color: white;
  background-color: #9414d9;
}

.mat-card-content{
  margin-left: 16px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-form-field{
  width: 100%;
}

.general-information .title{
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.general-information .content{
  font-size: 18px;
}

.statistics .title{
  font-size: 16px;
  text-decoration: underline;
}

.statistics .content{
  font-size: 16px;
}

.statistics .content .item{
  margin-top: 15px;
}

mat-icon{
  color: #9414d9;
}
