<div class="row">
  <div class="col-xl-2 col-lg-5 col-sm-3 col-5">
    <mat-form-field class="input-field" style="width: 100%">
      <mat-select laceholder="*Genre">
        <mat-option *ngFor="let genre of someList" [value]="genre">
          {{genre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xl-10 col-lg-7 col-sm-9 col-7 input-field" style="display: flex; align-items: center; width: 100%">
<!--    <mat-icon class="mr-2">search</mat-icon>-->
<!--    <input>-->
      <div class="input-group mb-2">
        <input id="filter" type="text" class="form-control" placeholder="Search" (keyup.enter)="search()">
        <div class="input-group-append search_button waves-effect waves-light">
          <span class="input-group-text">
            <mat-icon>search</mat-icon>
          </span>
        </div>
      </div>
  </div>
</div>
