@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

a:hover{
  text-decoration: none;
  color: white;
  cursor: default;
}

.mat-progress-container{
  position: absolute;
  width: 100%;
  height: 91%;
  z-index: 99;
}

.mat-spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 95vw;
  position: fixed;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #9414d9;
}

.custom-snack-bar-success{
  color: white;
  background-color: #11d62b;
  margin: 0 !important;
  position: absolute;
  right: 1%;
  top: 10%;
}

.custom-snack-bar-error{
  color: white;
  background-color: #fa053e;
  margin: 0 !important;
  position: absolute;
  right: 1%;
  top: 10%;
}

.mat-select-panel {
  border-radius: 0 !important;
  border: 1px solid #9414d9;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #9414d9;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #9414d9;
}

.mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color:#9414d9 !important;
}

.fileDropZoneClass {
  height: 75px;
  background: white;
  border: 1px solid #9414d9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileDropContent{
  color: #9414d9;
}

.music-card{
  border: 1px solid #d6d2d2;
  margin-bottom: 10px;
  transition: all .3s;
}

.music-card:hover{
  border: 1px solid #9414d9;
  color: #9414d9;
}

.music-card img{
  width: 50px;
  height: 50px;
  border-radius: 50px
}

.music-card .content-container {
  padding-left: 20px
}

.music-card .content-container .header{
  font-weight: bold;
}

.music-card .content-container .description{
  font-size: 12px;
}

html, body { height: 100%; overflow-x: hidden; overflow-y: hidden}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
