.search-results {
  height: 75vh;
  overflow: scroll;
  overflow-x: hidden;
}

.search-results::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.search-results {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

